@font-face {
    font-family: 'Badaboom-BB';
    src: url('fonts/BADABB__.TTF');
  }

  html {
    scroll-behavior: smooth;
  }

  *{
    box-sizing: border-box;
  }

  /* @font-face {
    font-family: 'BalooThambi2-Regular';
    src: url('fonts/BalooThambi2-Regular.ttf');
  } */

  body {
    font-family: 'Baloo 2', cursive;
    background-color: white
  }

  .header-logo-text{
    font-size: 40px;
    margin-left: 50px;
    margin-top: 18px;
    padding-left: 25px;
    color: black;
    font-family: 'Baloo 2', cursive;
  }

  .header-logo-text:hover{
    color: black;
  }

  ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }

  a{
    text-decoration: none;
    color: black;
  }

  .a:hover{
    color: #39437a;
  }

  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-list{
    margin-right: 18%;
  }

  .nav-links{
    margin-right: 10%;
    font-size: 28px;
  }




  
  /* Top Container */

  .main-top-container{
    display: flex;
    margin-right: 0;
  }

  /* .right-social-box-triangle{
    height: 150px;
    width: 150px;
    position: absolute;
    top: -75px;
    right: -75px;
    transform: rotate(45deg);
    background-color: black;
  } */

  /* .left-social-box-triangle{
    height: 150px;
    width: 150px;
    position: absolute;
    top: -75px;
    left: -75px;
    transform: rotate(45deg);
    background-color: black;
  } */

  /* .fab{
    margin-top: -100px;
    color: white;
  } */

  /* Top Left Container */

  .main-left-container{
    margin-bottom: 50px;
    margin-left: 100px;
  }

  .h1-left-container{
    font-size: 70px;
    font-family: 'Baloo 2', cursive;
  }

  .p-left-container{
    font-size: 40px;
    font-family: 'Baloo 2', cursive;
  }

  .left-buttons{
    padding-left: 0px;
    margin-bottom: 40px;
    list-style-type: none;
  }

  .left-container-buttons{
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-family: 'Baloo 2', cursive;
  }

  .left-container-buttons:hover{
    background-color: #39437a;
  }

  .social-media-icons{
    margin-left: -50px;
    display: flex;
    width: 31px;
    height: 32px;
  }

  .social-icons{
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    /* margin-left: 5px; */
  }
  
  .social-icons:hover{
    color: black;
  }

  .git{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
  }

  .git:hover{
    color: black;
  }

  .linkedin{
    margin-right: 5px;
    margin-left: 5px;
  }

  .linkedin:hover{
    color: black;
  }

  .facebook{
    margin-right: 5px;
    margin-left: 5px;
  }

  .facebook:hover{
    color: black;
  }

  .instagram{
    margin-right: 5px;
    margin-left: 5px;
  }

  .instagram:hover{
    color: black;
  }

  .snapchat{
    margin-right: 5px;
    margin-left: 5px;
  }

  .snapchat:hover{
    color: black;
  }

  /* .social-icon-background{
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  } */

  

  .hand-emoji{
    margin-left: 20px;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }
  100% { transform: rotate(  0.0deg) }
}

  /* Top Right Container */

.top-right-image{
  width:500px;
  height:500px;
  margin-top: 28px;
}

.main-right-container{
margin-left: 200px;
overflow: hidden;
}

/* Second Left Container */

.second-main-container{
  display: flex;
  margin-top: 50px;
}

.second-left-container{
  margin-left: 10px;
  margin-right: 50px;
}

.second-left-image{
  margin-top: 250px;
  width: 800px;
  height: 400px;
}

/* Second Right Container */

.second-right-container{
  margin-left: 35px;
  margin-top: 35px;
}

.h1-right{
  font-size: 40px;
  margin-top: 250px;
}

.horns-emoji{
  margin-right: 8px;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate(  0.0deg) }
 10% { transform: rotate(-10.0deg) }
 20% { transform: rotate( 12.0deg) }
 30% { transform: rotate(-10.0deg) }
 40% { transform: rotate(  9.0deg) }
 50% { transform: rotate(  0.0deg) }
100% { transform: rotate(  0.0deg) }
}

.pointer-emoji{
font-size: 20px;
}

.h1-right{
  font-size: 45px;
}

.p-right{
  font-size: 20px;
  margin-top: -20px;
}

.lightning-text{
  font-size: 17px;
  margin-top: -38px;
}

.software-icons{
  display: flex;
  color: #6c63ff;
  padding: 0px;
}

.html-icon{
  color: #6c63ff;
}

/* Third Right Container */

.third-main-container{
  display: flex;
  margin-top: 250px;
  margin-bottom: 100px;
}

.third-right-container{
  height: 700px;
  width: 760px;
}

.first-row{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.second-row{
  display:flex;
  justify-content:center;
}

/* Third Left Container */

.third-right-image{
  margin-top: 100px;
  height: 300px;
  width: 700px;
}

.about-me{
  font-size: 45px;
}


/* Fourth Main Container */

.cards-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 250px; */
}

.fourth-main-cards{
  height: 200px;
  width: 500px;
  margin: 10px;
  padding: 10px;
  /* box-shadow: 8px 8px 6px rgb(167, 162, 162) , -1px -6px 8px rgb(167, 162, 162); */
  box-shadow: 0 0 36px rgba(0,0,0,.2);;
  background-color: white;
  border-radius: 5px;
}

.fourth-main-cards:hover{
  transition: all .2s ease-out;
  box-shadow: 0 4px 8px rgba(38,38,38,.2);
  }

.card-row{
  display: flex;
}

.circle{
  height: 11px;
  width: 11px;
  background-color: orange;
  border-radius: 50%;
  margin-top: 5px;
}

.bottom-card-details{
  display: flex;
}

.card-span{
  margin-right: 5px;
}

.card-one-header{
  display: flex;
  margin-bottom: 25px;
  font-size: 25px;
}

.card-one-header-text{
  font-size: 20px;
  margin-top: 35px;
  color:rgba(75, 68, 68, 0.329);
}

.card-link{
  color: black;
}

/* Fifth Container */



/* Footer */

.footer-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.footer-icons{
  display: flex;
}

.icons{
  margin-left: 5px;
  color: black;
}

/* Responsive */

/* Smartphones (portrait and landscape) ----------- */
/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  } */

